@font-face {
    font-family: "Nexa";
    src: url("../fonts/nexa-light-webfont.woff2") format("woff2");
    font-weight: 200;
  	font-style: normal;
}

@font-face {
    font-family: "Nexa";
    src: url("../fonts/nexa-bold-webfont.woff2") format("woff2");
    font-weight: 500;
  	font-style: normal;
}

@font-face {
    font-family: "Nexatext";
    src: url("../fonts/nexatext-extralight-webfont.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Nexatext";
    src: url("../fonts/nexatext-light-webfont.woff2") format("woff2");
    font-weight: 200;
  	font-style: normal;
}

@font-face {
    font-family: "Nexatext";
    src: url("../fonts/nexatext-regular-webfont.woff2") format("woff2");
    font-weight: 300;
  	font-style: normal;
}